*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    height: 155px;
    background-image: url(/img/ic.png);
}

header h1{
    padding-top: 10px;
    padding-left: 15px;
    font-size: 5rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header h2{
    margin-left: 30px;
    font-size: 3rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}

header nav{
    padding-top: 20px;
    padding-left: 15px;
}



header li{
    margin-left: 10px;
    margin-right: 10px;
    display: inline;
    color: grey;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 7px 10px;
    font-weight: 600;
    background-color: black;
    border: 1px white solid;
    border-radius: 10px;

}



header li a {
    text-decoration: none;
    color: white;
}

header li:hover:not(.mark){
    background-color: grey;
}


main {
    display: inline block;
    padding: 20px;
    vertical-align: top;
    font-size: 1.6rem;
    font-weight: 100;
}

#html5{
    margin-right: 20px;
    border: 2px red solid;
    display: inline-block;
    width: 30%;
}

#html5 h2{
    font-family: Arial, Helvetica, sans-serif;
    background-color: red;
    color: white;
    display: inline;
    padding: 2px;
}

#html5 p{
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

#html5 a{
    float: right;
    background-color: grey;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 4px;
}

#css3 {
    vertical-align: top;
    margin-right: 20px;
    border: 2px green solid;
    display: inline-block;
    width: 30%;
}

#css3 h2{
    font-family: Arial, Helvetica, sans-serif;
    background-color: green;
    color: white;
    display: inline;
    padding: 2px;
}

#css3 p{
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

#css3 a{
    float: right;
    background-color: grey;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 4px;
}

#about {
    vertical-align: top;
    margin-right: 20px;
    border: 2px blue solid;
    display: inline-block;
    width: 30%;
}

#about h2{
    font-family: Arial, Helvetica, sans-serif;
    background-color: blue;
    color: white;
    display: inline;
    padding: 2px;
}

#about p{
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

#about a{
    float: right;
    background-color: grey;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 4px;
}


footer{
    height: 11rem;
    background-color: black;    
    
}

footer address {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 10px;
    display: inline-block;
    font-size: 1.6rem;
}

footer nav{
    padding: 10px;
    display: inline-block;
    float: right;
}


footer nav h2{
    color: white;
    font-family: arial;
}


footer li a{
    color: white;
    text-decoration: none;
}

footer li a:hover{
    color: red;
}


footer nav ul li a{
    text-decoration: none;
    color: grey;
}

footer .mark{
    color: white;
    list-style: disc;
}



main p{
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}

#bildjohan{
    display: inline-block;
}

#bildjohan img{
    display: inline-block;
    width: 20rem;
}

#ommig{
    display: inline-block;
    vertical-align: top;
    width: 40rem;
}

#ommig p{
    font-size: 1.5rem;
    font-weight: 500;
}



#fakta{
    padding: 1rem;
    border: 2px black solid;
    border-radius: 10px;
    font-size: 1.5rem;
    display: inline-block;
    vertical-align: top;
    width: 35rem;
}

#fakta p{
    font-size: 1.5rem;
    font-weight: 400;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 98%;
    margin-left: 1%;
    font-size: 1.4rem;
}

table th{
    background-color: white;
}

tr:nth-child(odd){
    background-color: rgb(187, 187, 187);
}

  th, td {
    border: 0.1rem solid #ddd;
    padding: .8rem;
    text-align: left;
}

table th{
    padding: 1.2rem 0.8rem;
    background-color: white;
}